@import "../../../styles.scss";
section {
        background:$color-4;
        font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
        font-size: 14px;
        color:$letra-color;
        margin: 0;
        padding: 0;
        width: 100%;
        height: 80vh;
    .back{
        float:left;
        width:7vh;
        position: relative;
        top:3%;
        left:5%;
        svg{
            height:7vh;
        }
    }
        h2{
            text-align: center;
            position:relative;
            top:10vh;
        }
        .swiper-slide {
            background-position: center;
            background-size: cover;
            position:relative;
            width: 15%;
            height: 22vh;
            @media screen and (max-width: 500px)
              {
                background-position: center;
                background-size: cover;
                width: 39%;
                height: 22vh;
              }
        }
        .iconPlay{
            width:5vh;
            position: relative;
            margin: auto;
            top:68%;
            left:72%;
            svg{
                height:5vh;
            }
        }    
        .iconMG{
            width:8vh;
            position: relative;
            margin: auto;
            top:46%;
            left:102%;
           
            svg{
                height:5vh;
            }
        } 
        .iconMenu{
            width:8vh;
            position: relative;
            margin: auto;
            top:23%;
            left:130%;
           
            svg{
                height:5vh;
            }
        } 
        
    table{

        position:absolute;
       
        margin: 10%;
        margin-top:34vh;
     //   justify-content: center;
        width: 80%;
        @media screen and (max-width: 600px) {
            margin: 2.5%;
            margin-top:34vh;
            left: 2%;
            width: 95%;
            
        }
        .encabezado{
            color: $letra-color-hover;
            th, td{
                padding: 3px;
                margin: 0;
                height: 1vh!important;
            }
        }
        .tema-fila{
           
            color: $letra-color;
            th, td{
                padding: 3px;
                margin: 0;
                height: 1vh!important;
            }
            &:hover{
                color: $letra-color-hover;
                background: $color-2 !important;
            }
        }
    }




   
}