<header>
    <div class="row fila-header">
        <div class="col-3 col-sm-2 logo-container"> 
            <a href="home">
            <img  src="./assets/images/auriculares.png" alt="./assets/images/logo.jpg"></a>
            <h6 class="d-none d-xl-block"  >Spoiler Five</h6>
        
        </div>
        <!-- <div class="col-6 col-sm-8 col-md-4   subscribite-container" data-toggle="tooltip" data-placement="right" title="mira todos los planes">
            <button (click)="cambiarPlan()" >Planes</button>
        </div> -->
        <div class="col-4  d-none d-xl-block buscar-container">
            <!-- <input type="search" name="buscar" id=""> -->
            <div class="wrapper">
                <div class="right-pane">
                  <div class="searchbox js-searchbox">
                    <div class="searchbox-icon js-searchbox-icon">
                      <i class="fas fa-search"></i>
                    </div>
                    <div class="searchbox-input">
                      <input type="text" class="input js-input" id="searchInput js-searchInput" placeholder="Buscar en Spoiler Five">
                    </div>
                  </div>
                  <div class="searchlist js-searchlist">
                    <div class="searchlist-header">
                      <div class="searchlist-header-title">Resultados</div>
                      <div class="searchlist-header-clear js-searchlist-header-clear" onclick="clearInnerHtml('.searchlist')">Borrar todo</div>
                    </div>
                    <div class="searchlist-item-wrapper js-searchlist-item-wrapper">
                    </div>
                  </div>
                </div>
              </div>
              <script src="https://kit.fontawesome.com/d4b981459a.js" crossorigin="anonymous"></script>
        </div>
        <div class="col-6 col-sm-8 col-md-4   subscribite-container" data-toggle="tooltip" data-placement="right" title="mira todos los planes">
          <button (click)="cambiarPlan()" >Planes</button>
      </div>
        <div class="col-2  d-none d-xl-block  usuario-container">
            <div class="row">
                <div >
                    <img  src="./assets/images/usuario.png" alt="./assets/images/usuario.png">
                </div>
                <div class="nickname">
                    <p>juan perez</p>
                </div>
            </div>
               
            
        </div>
        <div class="col-3 col-sm-2 d-block d-xl-none  menu-container">
            
            <div (click)="toggleHamburguesa()">
                <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="bars" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" class="svg-inline--fa fa-bars fa-w-14"><path fill="currentColor" d="M16 132h416c8.837 0 16-7.163 16-16V76c0-8.837-7.163-16-16-16H16C7.163 60 0 67.163 0 76v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16z" class=""></path></svg>
            </div>
            
        
        </div>
        
    </div>
</header>


<app-lahamburguesa *ngIf="hamburguesa" class="d-block d-xl-none"></app-lahamburguesa>