<div class="overlay">
    <div class="pop-up">
        <div class=fondoPopUp>

            <div class="btnClose" (click)="closePopUp()">
                <span>X</span>
            </div>
        </div>

        <h1>Beneficios de ser Premium</h1>

        <div>
            <div class="contenedor">
                <div class="row">
                    <div class="icono col-6">
                        <svg  aria-hidden="true" focusable="false" data-prefix="fas" data-icon="check"
                            role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"
                            class="svg-inline--fa fa-check fa-w-16">
                            <path fill="currentColor"
                                d="M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z"
                                class=""></path>
                        </svg>
                        <p>Chau publicidades </p>
                    </div>
                    <div class="icono2  col-6">
                        <svg  aria-hidden="true" focusable="false" data-prefix="fas" data-icon="check"
                            role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"
                            class="svg-inline--fa fa-check fa-w-16">
                            <path fill="currentColor"
                                d="M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z"
                                class=""></path>
                        </svg>
                        <p>Mismo nivel de volumen</p>
                    </div>
                </div>
             
                

                <div class="row">
                    <div class="icono col-6">
                        <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="check"
                            role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"
                            class="svg-inline--fa fa-check fa-w-16">
                            <path fill="currentColor"
                                d="M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z"
                                class=""></path>
                        </svg>
                        <p>Sonido en alta resolución</p>
                    </div>
                    <div class="icono2 col-6">
                        <svg  aria-hidden="true" focusable="false" data-prefix="fas" data-icon="check"
                            role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"
                            class="svg-inline--fa fa-check fa-w-16">
                            <path fill="currentColor"
                                d="M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z"
                                class=""></path>
                        </svg>
                        <p>Salto de canciones ilimitado</p>
                    </div>
                </div>
            </div>
            <h1>Tipos de planes </h1>
            <div class="pricing">
                <div class="plan">
                    <h2>Individual</h2>
                    <div class="price">1 cuenta</div>
                    <ul class="features">

                    </ul>
                    <div class="price">$140 x mes</div>
                    <button>Mejorá tu plan</button>
                </div>
                <div class="plan">

                    <h2>Ambo</h2>
                    <div class="price">2 cuentas</div>
                    <div class="price">$180 x mes</div>
                    <button>Mejorá tu plan</button>
                </div>
                <div class="plan">
                    <h2>Equipo</h2>
                    <div class="price">4 cuentas</div>
                    <div class="price">$240 x mes</div>
                    <button>Mejorá tu plan</button>
                </div>
            </div>



        </div>
    </div>