@import "../../../../styles.scss";
.btnClose{
  float:right;
  cursor: pointer;
  color: white;
  font-weight: bolder;
  font-size: large;
  margin-right:4px;
}

.icono{
  width: 2vw;
  //border-right: 1px solid #be3f2b;
  position:relative;
  left:1vw;
  color:$letra-color;
    svg {
      height: 2vh;
    }
  }  

    .contenedor{
      position:relative;
      left:23vh;
      .icono2{
        width: 2vw;
        //border-right: 1px solid #be3f2b;
        position:relative;
        left:1vw;
        color:$letra-color;
          svg {
            height: 2vh;
            position: relative;
           // right:16vh;
          }
        }  
      @media screen and (max-width: 800px)
      {
        position:relative;
        left:0vh;
        svg {
          height: 2vh;
          position: relative;
          right:16vh;
        }
      }
    }
.pop-up{
  width: 100%;
  text-align: center;
  margin: auto;
  background-color: $color-2;

}

.boton{
  padding: 2vh;
}
.fondoPopUp{
  height: 22px;
  width: 100%;
  background-color:$color-3;

}

@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Source Sans Pro", sans-serif;
}
body {
  background-color:$color-3;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
h1 {
  text-align: center;
  color: $letra-color;
}
p {
  text-align: center;
  color: $letra-color;
  width:35vh;
  left:2vh;
  position:relative;
  bottom:4vh;

}
.pricing {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  .plan {
    background-color:$color-1;
    padding: 2.5rem;
    margin: 12px;
    border-radius: 5px;
    text-align: center;
    transition: 0.3s;
    cursor: pointer;

    h2 {
      font-size: 22px;
      margin-bottom: 12px;
      color:$letra-color;
    }

    .price {
      margin-bottom: 1rem;
      font-size: 30px;
      color:$letra-color;
    }

    ul.features {
      list-style-type: none;
      text-align: left;
      li {
        margin: 8px;
      
      }
    }

    button {
      border: none;
      width: 100%;
      padding: 12px 35px;
      margin-top: 1rem;
      background-color: $color-3;
      color: #fff;
      border-radius: 5px;
      cursor: pointer;
      font-size: 16px;
    }

    &.popular {
      border: 2px solid #6ab04c;
      position: relative;
      transform: scale(1.08);

      span {
        position: absolute;
        top: -20px;
        left: 50%;
        transform: translateX(-50%);
        background-color: #6ab04c;
        color: #fff;
        padding: 4px 20px;
        font-size: 18px;
        border-radius: 5px;
      }
    }

    &:hover {
      box-shadow: 5px 7px 67px -28px rgba(0, 0, 0, 0.37);
    }
  }
}


