<div class="overlay">
    <div class="pop-up">
            <div class=fondoPopUp>

        <div class="btnClose" (click)="closePopUp()">
            <span>X</span>
        </div>
    </div>
   
   <h1>Beneficios de ser Premium</h1>
   <div>
     Chau publicidades
     Mismo nivel de volumen
</div>
<div>
<i class="far fa-check-square"></i> Sonido en alta resolución
<i class="far fa-check-square"></i> Salto de canciones ilimitado
</div>
  

            <div class="pricing">
                <div class="plan">
                  <h2>Individual</h2>
                  <div class="price">1 cuenta</div>
                  <ul class="features">
                  
                  </ul>
                  <div class="price">$140 x mes</div>
                  <button>Mejorá tu plan</button>
                </div>
                <div class="plan">
               
                  <h2>Ambo</h2>
                  <div class="price">2 cuentas</div>
                  <div class="price">$180 x mes</div>
                  <button>Mejorá tu plan</button>
                </div>
                <div class="plan">
                  <h2>Equipo</h2>
                  <div class="price">4 cuentas</div>
                  <div class="price">$240 x mes</div>
                  <button>Mejorá tu plan</button>
                </div>
              </div>
  

                  
        </div>
    </div>