@import "../../../styles.scss";
section {
    background: $color-4;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color:$letra-color;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 80vh;
    h4{
      padding: 5px;
      text-align: center;
    }
    .swiper-container {
        width: 90%;
        padding-top: 20px;
        padding-bottom: 20px;
      }
    
    .swiper-slide {
      
        background-position: center;
        background-size: cover;
        width: 18%;
        height: 22vh;
        @media screen and (max-width: 500px)
          {
            background-position: center;
            background-size: cover;
            width: 50%;
            height: 22vh;
          }
    }
  }

  .card-playlist{
   
    border-radius: 5px;
    .info{
      position: absolute;
      top: 70%;
      width: 100%;
      height: 30%;
      background-color: rgba(2, 2, 20, 0.877);
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
      p{
        position: relative;
        top: 5%;
        right: -5px;
        font-weight: 400;
        color: $letra-color;
        padding: 0;
        margin: 0;
        font-size: 1em;
        & .extra{
          color:rgb(176, 180, 184);
        }
      
      }
      &:hover{
        
        background-color: rgb(2, 2, 20);
      }
      

    }
   &:hover{
   //@warn margin-left: 0px;
    transform: scale(1.02)
   }
  }
 