
<section>
    <div class='faq'>
        <input id='faq-a' type='checkbox'>
        <label for='faq-a'>
          <p class="faq-heading">Como doy de baja el servicio?</p>
          <div class='faq-arrow'></div>
            <p class="faq-text">No se puede dar de baja ajjaj </p>
        </label>
        <input id='faq-b' type='checkbox'>
        <label for='faq-b'>
          <p class="faq-heading">Como doy de alta el servicio?</p>
          <div class='faq-arrow'></div>
            <p class="faq-text">Tarasca , pone toda la tarazca que tengas</p>
        </label>
        <input id='faq-c' type='checkbox'>
        <label for='faq-c'>
          <p class="faq-heading">Por que?</p>
          <div class='faq-arrow'></div>
            <p class="faq-text">No hay porque</p>
        </label>
        <input id='faq-d' type='checkbox'>
        <label for='faq-d'>
          <p class="faq-heading">Por que no aparecen mis Playlists?</p>
          <div class='faq-arrow'></div>
            <p class="faq-text"> I dont know</p>
        </label>
        <input id='faq-e' type='checkbox'>
        <label for='faq-e'>
          <p class="faq-heading">Cuanto me sale el Servicio?</p>
          <div class='faq-arrow'></div>
            <p class="faq-text">....</p>
        </label>
          <input id='settings' type='checkbox'>
      
      </div>
      
</section>
