@import "../../../styles.scss";
  html{background-color: $color-1 !important;}
.contenedor{
  
   background-color: $color-1;
    border:1px solid black;
    margin:auto;
   // width:70%;
    position:relative;
    height: 100%;
    padding-top: 12vh;
    .icono{
        margin: auto;
        text-align:center;
        img{
            width:80px;
            position: relative;
           
        }
    }


h2,h6{
    text-align: center;
    color:$letra-color;
}
.botones{
    margin:auto;
    text-align: center;
}
button{
    width: 40%;
    height:80px;
    position: relative;
    margin: 59px;
}
button.loginWithGoogle {
    width: 35vh;
    background: #df4a32;
    color: white;
    font-family: helvetica;
    border: none;
    font-size: 2vh;
    height: 7vh;
    position: relative;
    margin:auto;
    line-height:7vh;
    margin-top:11vh;
    margin-bottom: 13vh;
    .icon {
      width: 4vw;
     // border-right: 1px solid #be3f2b;
      float: left;
      svg {
        height: 4vh;
      }
    }
  }
  button.loginWithFacebook {
    width: 35vh;
    background: #5c8bc3;
    color: white;
    font-family: helvetica;
    border: none;
    font-size: 2vh;
    height: 7vh;
    line-height: 7vh;
    top: 5vh;
    position: relative;
    margin:auto;
    .icon {
      width: 4vw;
      //border-right: 1px solid #be3f2b;
      float: left;
      svg {
        height: 4vh;
      }
    }
  }
}