@import "../../../styles.scss";

a{
  color:$letra-color ;
  text-decoration: none;
}
a:hover{
  color:$letra-color-hover;
}
ul{
  list-style:none;
}


aside{
    position:absolute;
   // left: 0;
    margin: 0;
  //  width: 15%;
    height: 80vh;
    //padding: 10px;
    background-color: $color-2;//
   // border: 1px solid rgb(1, 1, 8);
   
}
nav{
  position:relative;
  //margin-top:8vh;
}
.icon {
  width: 4vw;
  //border-right: 1px solid #be3f2b;
  float: left;
  position:relative;
  left:0.5vw;
  top:1vh;
    svg {
      height: 4vh;
    }
  }  
  .iconHome {
    width: 5vw;
    //border-right: 1px solid #be3f2b;
    float: left;
    position:relative;
    margin:auto;
    text-align:center;
     svg {
        margin-top:6vh;
       height: 5vh;
       color:$letra-color;
       &:hover{
        color:white;
       }
      } 

  }
  ul{
    position:relative;
    margin-bottom:2vh;
    li{
      position:relative;
      margin-top:2vh;
      font-size: 16px;
    }
  }
 
  .usuario-container{
    // border: 1px solid blue;
    // background-color: $color-1;
     //padding: 1vh;
     padding-left: 50px;
     color:$letra-color;
     img{
         position: relative;
         top: 45%;
         padding: 0;
         right: -15%;
         margin: 0;
         width:12vh;
     }
     .nickname{
         padding: 0;
         margin: 0;
         position: relative;
         top: 45%;
         p{
             position: relative;
             top: 59%;
             padding: 0;
             right: -40%;
             margin: 0;
         }
         
         //align-items: center;
         //padding: 1vh;
     }
     .icon {
      
      svg {
        height: 6vh;
        position: fixed;
        right: 10%;
        top: 10%;
      }
     }
 }

 