/* You can add global styles to this file, and also import other style files */
html,body{
    overflow-x: hidden;
    color:black;
    font-family:'Opens Sans',helvetica;  
    height:100%;
    width:100%;
    margin: 0px;
    padding: 0px;
    max-width: 100%;
  }
/*fondos*/
$color-1: #202636;
$color-2:#2b3141;
$color-3: #1dd6ff;
$color-4:#3f4754;

/*tipografias color*/
$letra-color:rgb(190, 187, 187);
$letra-color-hover:rgb(241, 238, 238);

body {
  font-family: 'NotoSansKR-Regular', Fallback, sans-serif !important;
}

@font-face {
  font-family: 'NotoSansKR-Regular';
  src: url('assets/fonts/Noto_Sans_KR/NotoSansKR-Regular.otf') format('opentype');
}
 
